*{
    margin: 0;
    padding: 0;    
    
}

header{
    display: flex;
    justify-content: center;
    background-color: ##0000009a;    
}
.titulo{         
    height: 85px;
}
body{
    background-image: url("../img/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container0{
    display:  grid;   
    grid-template-columns: repeat(1,1fr);   
    margin-top: 10 px;
}
.container1{    
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows:50%;
    background-image: url("../img/Nintendo_Template.png");  
    background-size: cover;  
    background-position: center center;
    background-repeat: no-repeat;
    place-self: center;
    width: 90vh;
    height: 90vh;
}
.screen0{    
    justify-self: center;
    margin-top: 7vh ;
    display: grid;    
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    'Head Head'
    'Img Asid';
    grid-template-rows: 25px 240px;
    width: calc(100% - 33vh);
    height: calc(100% - 11vh);
    background-image: url("../img/screen1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 8px;
    -webkit-box-shadow: inset 0px 0px 30px -11px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 30px -11px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 30px -11px rgba(0,0,0,1);
}

.item-titulo{
    grid-area: Head;
    justify-self: center;   
    align-self: center; 
    margin: 20px;
    padding: 5px;
    border-radius: 6px;
    color: white;    
}
.item-img{
    grid-area: Img;    
    justify-self: center;
    display: flex;
    flex-direction: column;
}
.namePoke{
    margin: 5px 20px;
}
#PokeImg{
    place-self: center;
    width: calc(100% - 5vh);
}
.item-info{
    grid-area: Asid;
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-wrap: wrap;   
    color: white;     
}
section > span{
    padding-bottom: 10px;    

}
.screen1{
    height: 2vh;    
    justify-self: center;
    margin-top: 4.5vh ;
    display: grid;    
    width: calc(100% - 43vh);
    height: calc(100% - 10vh);        
    cursor: url("../img/icon/lapiz.png"), auto;
    background-color: white;
    border-radius: 8px;
    background-image: url("../img/screen1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: inset 0px 0px 30px -11px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 30px -11px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 30px -11px rgba(0,0,0,1);
}
.form-pokemon{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
}
label{
    font-size: large;
    cursor: url("../img/icon/lapiz.png"), auto;
    color: white;
}
input{
    width: calc(100% - 100px);    
    padding: 7px 0px;
    cursor: url("../img/icon/lapiz.png"), auto;
    border-radius: 6px;
}
.button{
    padding: 7px;
    border-radius: 6px;
    border: none;
    margin-top: 10px ;
    cursor: url("../img/icon/lapiz.png"), auto;
    color:#FEC906;
    background-color: #3A53A8;
}
.button:hover{
    color:#3A53A8;
    background-color: #FEC906;
}

footer{
    background-color: #0000009a;  
    padding: 40px;
    display: flex;
    place-content: center;
    color: white;    
}
a{
    color:#FEC906;
}
.perfil{
    overflow: hidden;
    text-decoration: none;    ;
}
.github{
    width: 30px;
    height: 30px;
    
}